.chatIntro{
    background-color:#222f37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chatIntro img{
    width: 250px;
    height: auto;
}

.chatIntro h1{
    font-size: 32px;
    color: #2fc9bb;
    font-weight: normal;
    margin-top: 30px;
}

.chatIntro h2{
    font-size: 14px;
    color: #097d72;
    font-weight: normal;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
}